/* styles.css */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
    overflow: hidden;
}

.canvas-container {
    position: relative;
    width: 800px;  /* Fixiere die Breite */
    height: 400px; /* Fixiere die Höhe */
    background: #f0f0f0;
}

canvas {
    display: block;
    background: #f0f0f0;
}

.character-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.character-selection img {
    margin: 0 10px;
    cursor: pointer;
    border: 2px solid transparent;
    width: 100px;  /* Verkleinere die Bilder */
    height: auto;
}

.character-selection img:hover {
    border: 2px solid blue;
}
